.raspi-jumbo {

    margin-top: 50px;
    margin-bottom: 10px;

}

.raspi-jumbo h1 {

    text-align: center;

    padding-bottom: 30px;

    border-bottom: 1px dashed #ccc;

    margin-bottom: 30px;

}

.raspi-fields .raspi-field {

    display: none;

    padding: 20px;
    padding-bottom: 0px;
    border: 1px dashed #ccc;

    margin-bottom: 20px;

}

.raspi-field#empty {

    min-height: 200px;
    min-width: 100%;

    display: table;
    text-align: center
}

.raspi-field#empty h5 {

    display: table-cell;
    vertical-align: middle;

}

.raspi-fields label {

    font-weight: bold;

}

.raspi-form-buttons {

    display: none;
    text-align: right;

}

.raspi-script {

    min-height: 250px;

}

.or {
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.or:before,
.or:after {
    background-color: #ccc;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.or:before {
    right: 0.5em;
    margin-left: -50%;
}

.or:after {
    left: 0.5em;
    margin-right: -50%;
}

.or2 {

    text-align: center;

}
.unselectable {
    cursor: not-allowed;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.raspi-save {

    text-align: center;

}

.raspi-credits {

    text-align: center;

}

.raspi-url-config-card {

    margin-bottom: 15px;

}

.raspi-config-alert {

    text-align: center;

}

.raspi-alert-sm {

    font-size: 90%;

}